/* Custom CSS */

/*Prevent Text Selection*/
/* body {
   user-select: none; 
   -webkit-user-drag: none; 
} */

/* Capital Font */
/* #capital{
    text-transform: uppercase;
} */


/* Header Part Start :- */

#headeraddress {
    font-size: 15px;
}

#headertel {
    font-size: 14px;
}

#headeremail {
    font-size: 13px;
}

#headercontactbtn {
    margin-left: 20px;
}




/* Header Part End : */


/* Footer Part Start :- */
#footertext {
    text-align: justify;
}

#footertel {
    font-size: 16px;
}

#footermail {
    font-size: 16px;
}

/* Footer Part End : */


/* Body Part Start : */

#bannertitle1 {
    font-size: 45px;
}

#aboutheading {
    font-size: 31px;
}

#serviceheading {
    font-size: 31px;
}

#teamheading {
    font-size: 31px;
}


#programheading {
    font-size: 31px;
}

#testimonialheading {
    font-size: 31px;
}

#overviewheading {
    font-size: 33px;
}

#innerbannertitle {
    font-size: 50px;
}

#activitysubtitle {
    color:#1F1F1F;
}

#activitiesmore {
    background:#4fad0a;
}


/* Body Part End : */



#hide {
    display: none;
}

.justify {
    text-align: justify;
}


/* banner */
.hero-4 {
    height: 600px;
  }
  











/* ===========================[Responsive start]================================= */

/* Laptop (15.6 inch) 💻💻 */
@media only screen and (min-width: 1400px) {
    .main-menu > ul > li > a {
      padding: 20px 15px;  /* increase clickable space */
    }
  
    .main-menu a {
      font-size: 17px;     /* slightly larger font for big screens */
    }
  }
  
/* Laptop (14 inch) 💻 */
@media only screen and (min-width : 1200px) {

    /* Header Part Start : */
    #setnav {
        max-width: 1250px !important;
    }


    /* Header Part End : */

    /* Footer Part Start :- */

    /* Footer Part End : */

    /* Body Part Start : */

    /* Body Part End : */


}


/* Mobile View Not Included */
@media only screen and (min-width : 768px) {

    /* Header Part Start : */

    /* Header Part End : */


    /* Footer Part Start :- */

    /* Footer Part End : */

    /* Body Part Start : */

    /* Body Part End : */

}

/* Mobile View 📱📱📱*/
@media only screen and (max-width : 768px) {

    /* Header Part Start : */
    .header-default .menu-area .menu-area-wrap {

        background: #FFF !important;

    }

    /* Header Part End : */


    /* Footer Part Start :- */

    /* Footer Part End : */

    /* Body Part Start : */

    #bannertitle1 {
    font-size: 29px;
}

#aboutheading {
    font-size: 22px;
}

#serviceheading {
    font-size: 24px;
}

#teamheading {
    font-size: 24px;
}


#programheading {
    font-size: 24px;
}

#testimonialheading {
    font-size: 24px;
}

#overviewheading {
    font-size: 23px;
}

#about-sec{
    padding-top: 0px;
}

    /* Body Part End : */

}


/* ~~~~~~~~~~~~~~~~~~~~~~~~(Animation Responsive)~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Default styles : */

/* Laptop (15.6 inch) */
/* Large screens (min-width: 1400px) */
@media only screen and (min-width : 1400px) {}


/* Laptop (14 inch) */
/* Medium screens (min-width: 1024px and max-width: 1399px) */
@media only screen and (min-width: 1024px) and (max-width: 1399px) {}


/* Small screens (min-width: 768px and max-width: 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}


/* Mobile */
/* Extra small screens (max-width: 767px) */
@media only screen and (max-width: 767px) {}


/* ===========================[Responsive end]================================= */